<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>Servletexample2</servlet-name>
        <servlet-class>Servletexample2</servlet-class>

        <init-param>
            <param-name>username</param-name>
            <param-value>Sanket</param-value>
        </init-param>

        <init-param>
            <param-name>password</param-name>
            <param-value>12345</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>Servletexample2</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

</web-app>